<template>
  <div
    class="component-container about-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'About', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="content">
        <h2>{{ item.title }}</h2>
        <p class="mb-5 subtitle">{{ item.subtitle }}</p>
        <p class="description">{{ item.about }}</p>
        <a
          class="btn btn-primary btn-shadow btn-normal mt-2"
          v-show="item.button_1.is_visible"
          :href="item.button_1.url"
          >{{ item.button_1.text }}</a
        >
      </div>
      <div class="image">
        <img :src="item.image" :alt="item.title" />
      </div>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.subtitle {
  color: var(--text-light);
}
.content {
  padding-right: 10%;
  padding-left: 10%;
  .description {
    text-align: justify;
  }
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
  }
}
.layout_1_2 {
  .container {
    display: flex;
    align-items: center;
    .content {
      flex: 50%;
    }
    .image {
      flex: 50%;
    }
  }
}
.layout_1 {
  @extend .layout_1_2;
  .container {
    .content {
      padding-right: 0;
    }
  }
}

.layout_2 {
  @extend .layout_1_2;
  .container {
    flex-direction: row-reverse;
    .content {
      padding-left: 0;
    }
  }
}

.layout_3 {
  text-align: center;
  .container {
    display: flex;
    flex-direction: column-reverse;
    .content {
      .description {
        margin: auto;
      }
    }
    .image {
      height: 15rem;
      width: 15rem;
      align-self: center;
      margin-bottom: 1.5rem;
      img {
        border-radius: 100%;
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .layout_1_2 {
    .container {
      flex-direction: column-reverse;
      align-items: initial;
      .content {
        margin-top: 2rem;
        padding: 0;
      }
    }
  }
}
</style>