<template>
  <div
    class="component-container blog-post-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'BlogPost ', item: item })"
  >
    <div class="container">
      <img :src="item.image" class="header-img" :alt="item.title" />
      <h2 class="mt-10">{{ item.title }}</h2>
      <p class="mt-10 mb-10">{{ item.text }}</p>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.blog-post-container {
  max-width: 980px;
  margin: 0 auto;
  .container {
    .header-img {
      width: 100%;
      height: auto;
      max-height: 60vh;
      object-fit: cover;
    }
  }
}
</style>