<template>
  <div
    class="component-container blog-feed-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'BlogFeed', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="title">
        <h2>{{ item.title }}</h2>
        <p class="subtitle">{{ item.subtitle }}</p>
      </div>
      <div class="post-container">
        <nuxt-link
          :to="`/b/${post.slug}/`"
          v-for="post in item.blog.posts"
          :key="post.id"
          class="post card clickable"
        >
          <img :src="post.image" alt class="card-img" />
          <div class="card-content">
            <h4>{{ post.title }}</h4>
            <p>
              <small>نویسنده: {{ item.blog.author_name }}</small>
            </p>
          </div>
        </nuxt-link>
      </div>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.container {
  .title {
    .subtitle {
      color: #76777a;
    }
  }
}
.layout_1 {
  .container {
    .post-container {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 2rem;
      .post {
        transition: transform 0.2s;
        .card-content {
          h4,
          p {
            color: var(--text-dark) !important;
          }
        }
      }
      .post:hover {
        transform: scale(1.01);
      }
    }
  }
}

.layout_2 {
  @extend .layout_1;
  .container {
    text-align: center;
    .post-container {
      .post {
        box-shadow: none;
      }
      .post:hover {
        transform: scale(1.01);
      }
    }
  }
}

@media (max-width: 768px) {
  .layout_1 {
    .container {
      .post-container {
        gap: 1rem;
      }
    }
  }
}
</style>