<template>
  <div
    class="component-container about-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'Contact', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="content">
        <h2 class="mb-5">{{ item.title }}</h2>
        <p class="mb-5 subtitle">{{ item.text }}</p>
        <ul>
          <li v-show="item.address">
            <i class="material-icons">map</i>
            <br />
            {{ item.address }}
          </li>
          <li v-show="item.email">
            <i class="material-icons">email</i>
            <br />
            <a :href="`mailto:${item.email}`">{{ item.email }}</a>
          </li>
          <li v-show="item.phone_number">
            <i class="material-icons">phone</i>
            <br />
            <a :href="`tel:${item.phone_number}`">{{ item.phone_number }}</a>
          </li>
        </ul>
      </div>
      <div class="image">
        <img :src="item.image" :alt="item.title" />
      </div>
    </div>
    <div :class="{'dashboard-view': dashboardView}"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin]
};
</script>

<style lang="scss" scoped>
.about-container {
  .container {
    .content {
      padding-right: 10%;
      padding-left: 10%;
      .subtitle {
        color: var(--text-light)
      }
      li {
        margin-bottom: 1rem;
        a {
          color: #42B5D0;
        }
      }
    }
  }
}

.image {
  img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
  }
}
.layout_1_2 {
  .container {
    display: flex;
    align-items: center;
    .content {
      flex: 50%;
    }
    .image {
      flex: 50%;
    }
  }
}
.layout_1 {
  @extend .layout_1_2;
  .container {
    .content {
      padding-right: 0;
    }
  }
}

.layout_2 {
  @extend .layout_1_2;
  .container {
    flex-direction: row-reverse;
    .content {
      padding-left: 0;
    }
  }
}

@media (max-width: 640px) {
  .layout_1_2 {
    .container {
      flex-direction: column-reverse;
      .content {
        margin-top: 2rem;
        padding: 0;
      }
    }
  }
}
</style>