<template>
  <footer
    :class="item.layout"
    class="custom-footer component-container"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
    @click="openMenu(dashboardView, { type: 'CustomFooter', item: item })"
  >
    <div class="container">
      <p class="website-title">{{ item.title }}</p>
      <!-- Handle social networks here -->
      <SocialNetwork v-show="item.show_social" :items="item.socials" :textColor="item.text_color" />

      <p class="copy-write">
        <i class="material-icons">copyright</i> {{ item.copy_write_text }}
      </p>

      <p class="webkar-branding">
        ساخته شده به وسیله سایت‌ساز
        <a href="https://www.webkaar.com">وبکار</a>
      </p>
    </div>
    <div v-if="dashboardView" class="dashboard-view"></div>
  </footer>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";
import SocialNetwork from "@/components/website/views/SocialNetwork"

export default {
  mixins: [componentMenuMixin],
  components: {
    SocialNetwork
  }
};
</script>

<style lang="scss" scoped>
.custom-footer {
  text-align: center;
  padding: 4rem 0;
  border-top: 1px solid var(--lines);
  p {
    padding: 0.5rem;
  }
  .website-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .copy-write {
    font-size: 14px;
  }
  .webkar-branding {
    color: var(--text-light);
    font-size: 13px;
  }
}
</style>
