<template>
  <div
    class="component-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'Features', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container text-container">
      <h2>{{ item.title }}</h2>
      <p class="subtitle">{{ item.subtitle }}</p>
    </div>
    <div class="container mt-10">
      <div class="features">
        <div class="features-item" v-for="featureItem in item.items" :key="featureItem.id">
          <img :src="featureItem.image" class="icon" />
          <div class="">
            <h4>{{ featureItem.title }}</h4>
            <p>{{ featureItem.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <div :class="{'dashboard-view': dashboardView}"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
h4 {
  color: #3f3f3f;
}
.subtitle {
  color: #76777a;
}

.icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.layout_2 {
  .features {
    .features-item {
      padding: 1.5rem 1.5rem 1.5rem 0px;
      border-right: 1px solid #e9e4de;
    }
  }
}

.layout_1 {
  .text-container {
    text-align: center;
  }
  .features {
    .features-item {
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  .features {
    grid-template-columns: 1fr;
  }
  .layout_2 {
    .container {
      gap: 0;
    }
  }
}
</style>