<template>
  <section
    class="component-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'Gallery', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="text-container">
        <div class="text">
          <h2>{{ item.title }}</h2>
          <p class="subtitle">{{ item.subtitle }}</p>
        </div>
      </div>
      <div class="images-container">
        <div
          class="image"
          v-for="galleryItem in item.items"
          :key="galleryItem.id"
          @click="showItem(galleryItem)"
        >
          <img :src="galleryItem.image" loading="lazy" />
          <p class="image-title">{{galleryItem.title}}</p>
        </div>
      </div>
    </div>
    <GalleryModal :item="selectedItem" ref="gModal" />
    <div :class="{'dashboard-view': dashboardView}"></div>
  </section>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";
import GalleryModal from "@/components/website/views/GalleryModal";

export default {
  data() {
    return {
      selectedItem: {},
    };
  },
  components: {
    GalleryModal,
  },
  mixins: [componentMenuMixin],
  methods: {
    showItem(galleryItem) {
      this.selectedItem = galleryItem;
      this.$refs.gModal.toggleModal();
    },
  },
};
</script>

<style lang="scss" scoped>
.component-container {
  .container {
    h2 {
      color: #384158;
    }
    .subtitle {
      color: #76777a;
    }
    .images-container {
      .image {
        width: 100%;
        height: 20rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        .image-title {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba($color: #000000, $alpha: 0.0);
          color: white;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          font-size: 1.25rem;
          font-weight: 500;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.2s ease-in-out;
        }
      }
      .image:hover {
        img {
          transform: scale(1.1);
        }
        .image-title {
          background-color: rgba($color: #000000, $alpha: 0.6);
          opacity: 1;
        }
      }
    }
  }
}

.layout_1_2 {
  .container {
    .text-container {
      margin-bottom: 3rem;
      text-align: center;
    }
    .images-container {
      display: grid;
      gap: 2rem;
      grid-template-rows: auto;
    }
  }
}

.layout_1 {
  @extend .layout_1_2;
  .container {
    .images-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.layout_2 {
  @extend .layout_1_2;
  .container {
    .images-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.layout_3 {
  .container {
    margin: 4.5rem 0 0 0;
    display: flex;
    align-items: center;
    .images-container {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .text-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
    }
  }
}

.layout_4 {
  @extend .layout_1_2;
  .container {
    .images-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.layout_100 {
  @extend .layout_1_2;
  .container {
    .images-container {
      grid-template-columns: repeat(2, 1fr);
      .image {
        height: 15rem;
        img {
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .layout_1,
  .layout_2,
  .layout_3,
  .layout_100 {
    .container {
      flex-direction: column;
      text-align: center;
      .images-container {
        grid-template-columns: 1fr;
      }
    }
  }
  .layout_4 {
    .container {
      flex-direction: column;
      text-align: center;
      .images-container {
        grid-template-columns: repeat(2, 1fr);
        .image {
          height: 10rem;
        }
      }
    }
  }
}
</style>