<template>
  <section
    :class="item.layout"
    class="component-container"
    @click="openMenu(dashboardView, { type: 'Header', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="text-container">
        <h1 class="section-title">{{ item.title }}</h1>
        <p class="subtitle">{{ item.subtitle }}</p>
        <a
          class="btn btn-primary btn-lg btn-shadow btn-normal mt-5"
          v-show="item.button_1.is_visible"
          :href="item.button_1.url"
          >{{ item.button_1.text }}</a
        >
      </div>
      <div class="image">
        <img :src="item.image" alt="webkaar.com" />
      </div>
      <div class="overlay" v-show="item.has_overlay"></div>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </section>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.subtitle {
  margin-top: 1rem;
  font-size: 16px;
  text-align: justify;
  font-weight: 500;
  max-width: 80%;
}

.overlay {
  display: none;
}

.component-container {
  height: calc(100vh - 60px);
}

.layout_1_2 {
  position: relative;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .text-container {
      position: relative;
      z-index: 1;
      text-shadow: 0px 0px 10px #00000022;
    }
    .image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .overlay {
      display: block;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #00000066;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.layout_1 {
  @extend .layout_1_2;
  .container {
    .text-container {
      text-align: center;
      max-width: 480px;
      .subtitle {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.layout_2 {
  @extend .layout_1_2;
  .container {
    justify-content: flex-start;
    .text-container {
      max-width: 450px;
    }
  }
}

.layout_3_4 {
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
    .text-container {
      flex: 1;
      max-width: 450px;
    }
    .image {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
      img {
        max-width: 100%;
        height: auto;
        max-height: 90vh;
        object-fit: contain;
      }
    }
  }
}

.layout_3 {
  @extend .layout_3_4;
}

.layout_4 {
  @extend .layout_3_4;
  .container {
    .text-container {
      order: 2;
    }
    .image {
      order: 1;
      flex-direction: row;
    }
  }
}

.layout_5_6 {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    .text-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 450px;
    }
    .image {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.layout_5 {
  @extend .layout_5_6;
  .container {
    justify-content: space-between;
    .text-container {
      margin: 0 4rem;
    }
  }
}

.layout_6 {
  @extend .layout_5_6;
  .container {
    justify-content: space-between;
    .text-container {
      order: 2;
      margin: 0 4rem;
    }
    .image {
      order: 1;
    }
  }
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 14px;
  }
  .layout_1_2 {
    .container {
      .text-container {
        max-width: initial;
        .subtitle {
          max-width: initial;
        }
      }
    }
  }
  .layout_3_4 {
    padding: 3rem 0;
    height: auto;
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .text-container {
        flex: initial;
        order: 2;
        .subtitle {
          max-width: initial;
        }
      }
      .image {
        order: 1;
        flex: initial;
      }
    }
  }
  .layout_5_6 {
    padding-bottom: 3rem;
    height: auto;
    .container {
      display: flex;
      flex-direction: column;
      .text-container {
        margin: 1.5rem 4%;
        order: 2;
        .subtitle {
          max-width: initial;
        }
      }
      .image {
        order: 1;
        width: 100%;
      }
    }
  }
}
</style>

