<template>
  <nav
    class="main-nav component-container"
    :class="[
      { 'transparent-nav': item.isTransparentNavbar },
      { change_color: scrollPosition > 50 },
      item.layout,
    ]"
    @click="openMenu(dashboardView, { type: 'Navbar', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container" :class="{ 'container-fluid': isFluid }">
      <div class="logo">
        <nuxt-link :to="rootLink">
          <img :src="item.image" v-show="item.image" />
          <span class="title">{{ item.title }}</span>
        </nuxt-link>
      </div>
      <ul class="links">
        <i class="material-icons clickable close-nav" @click="toggleNav"
          >close</i
        >
        <li v-for="link in item.items" :key="link.id">
          <a
            v-if="link.specialLink"
            :class="{ 'special-link': link.specialLink }"
            @click="$emit('showModal')"
            >{{ link.text }}</a
          >
          <nuxt-link v-else :to="generateLink(link.address)">{{
            link.text
          }}</nuxt-link>
        </li>
      </ul>
      <i class="material-icons burger clickable" @click="toggleNav">menu</i>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </nav>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  data() {
    return {
      activeOverlay: false,
      scrollPosition: null,
    };
  },
  mixins: [componentMenuMixin],
  props: {
    isFluid: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    if (this.item.image) {
      document.querySelector(".title").classList.add("hide-title");
    }
    window.addEventListener("scroll", this.updateScroll);
  },
  methods: {
    toggleNav() {
      this.activeOverlay = !this.activeOverlay;
      document.querySelector(".links").classList.toggle("links-active");
    },
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    generateLink(link) {
      if (link.includes("#")) {
        return `/${link}`;
      }
      if (link == "/") {
        return link;
      }
      return `/${link}/`;
    },
  },
  computed: {
    rootLink() {
      if (this.item.rootLink) {
        return this.item.rootLink;
      }
      return "/";
    }
  },
  watch: {
    $route() {
      document.querySelector(".links").classList.remove("links-active");
    },
  },
};
</script>

<style lang="scss" scoped>
.main-nav {
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 2;
  background-color: white;
  .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      a {
        font-weight: 700;
        display: flex;
        align-items: center;
        color: var(--text-dark);
        font-size: 18px;
        img {
          width: auto;
          height: 30px;
          margin-left: 0.5rem;
        }
      }
    }
    .links {
      display: flex;
      .close-nav {
        display: none;
      }
      li {
        margin: 1rem;
        a {
          color: var(--text-dark);
        }
        .special-link {
          background-color: none;
          padding: none;
          border: none;
          cursor: pointer;
          color: var(--primary-color-dark);
        }
        a:hover {
          border-bottom: 4px solid var(--primary-color-dark);
        }
      }
    }
    .burger {
      display: none;
    }
  }
}

.transparent-nav {
  position: fixed;
  box-shadow: none;
  background-color: transparent;
}

.transparent-nav.change_color {
  background-color: white !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.layout_2 {
  .container {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 768px) {
  .layout_2 {
    .container {
      flex-direction: row;
    }
  }
  .hide-title {
    display: none;
  }
  .main-nav {
    .container {
      .logo {
        order: 2;
        margin-right: auto;
      }
      .burger {
        order: 1;
        display: inline-block;
      }
      .links {
        z-index: 100;
        position: absolute;
        background-color: white;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        flex-direction: column;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.25s ease-in-out;
        opacity: 0;
        li {
          margin: 1rem;
          a {
            color: var(--text-dark);
          }
        }
        .close-nav {
          display: block;
          margin: 1rem 1rem;
          height: 24px;
          width: 24px;
        }
      }
      .links-active {
        opacity: 1;
        right: 0;
      }
    }
  }
}
</style>
