<template>
  <div
    class="component-container product-container mt-15"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'Product ', item: item })"
  >
    <div class="container">
      <div class="image-container">
        <img :src="item.image" class="image" :alt="item.title" />
      </div>
      <div class="product-info">
        <h4 class="title">{{ item.title }}</h4>
        <h3 class="price">{{ item.price }} تومان</h3>
        <p class="mt-10 mb-10">
          <strong>توضیحات</strong><br />
          {{ item.text }}
        </p>
      </div>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
  created() {
    console.log(this.item);
  },
};
</script>

<style lang="scss" scoped>
.product-container {
  .container {
    display: flex;
    .image-container {
      flex: 1;
      .image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .product-info {
      margin-right: 10%;
      flex: 1;
      .title {
        font-weight: 700;
      }
      .price {
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 768px) {
  .product-container {
    .container {
      flex-direction: column;
      .image-container {
        align-self: center;
        .image {
          max-height: 90vh;
        }
      }
      .product-info {
        margin-right: 0;
      }
    }
  }
}
</style>