<template>
  <div
    class="component-container shop-feed-container mt-15"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'ShopFeed', item: item })"
  >
    <div class="container">
      <div class="title">
        <h2>{{ item.title }}</h2>
        <p class="subtitle">{{ item.subtitle }}</p>
      </div>
      <div class="product-container">
        <nuxt-link
          :to="`/s/${product.slug}/`"
          v-for="product in item.shop.products"
          :key="product.id"
          class="product card clickable"
        >
          <img :src="product.image" alt class="card-img" />
          <div class="card-content">
            <h4 class="product-title">{{ product.title }}</h4>
            <p class="product-price">
              {{ product.price }} تومان
            </p>
          </div>
        </nuxt-link>
      </div>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.container {
  .title {
    .subtitle {
      color: #76777a;
    }
  }
}
.layout_1 {
  .container {
    .product-container {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 2rem;
      .product {
        transition: transform 0.2s;
        .card-content {
          .product-title {
            font-weight: 300;
          }
          .product-price {
            font-weight: 500;
          }
          h4,
          p {
            font-size: 16px;
            color: var(--text-dark) !important;
          }
        }
      }
      .product:hover {
        transform: scale(1.01);
      }
    }
  }
}

.layout_2 {
  @extend .layout_1;
  .container {
    text-align: center;
    .product-container {
      .product {
        box-shadow: none;
      }
      .product:hover {
        transform: scale(1.01);
      }
    }
  }
}

@media (max-width: 768px) {
  .layout_1 {
    .container {
      .post-container {
        gap: 1rem;
      }
    }
  }
}
</style>