<template>
  <footer class="simple-footer mt-15">
    <div class="container">
      <div class="brand" v-if="item.socialNetworks || item.logo">
        <h3>
          <img :src="item.logo" alt="www.webkaar.com" />
        </h3>
        <p class="mt-2">
          وبکار یک ابزار ساده و ارزان برای ساخت وب سایت کاری یا شخصی است. با
          ویرایشگر حرفه‌ای وبکار بدون نیاز به دانش فنی در زمانی کوتاه سایت
          بسازید.
        </p>
        <div class="social mt-5">
          <SocialNetwork
            v-show="item.socialNetworks"
            :items="item.socialNetworks"
            textColor="#108775"
          />
        </div>
      </div>
      <div class="contact">
        <h3>ارتباط با ما</h3>
        <ul class="mt-2">
          <li>
            <span>ایمیل:</span>
            <a href="mailto:webkarapp@gmail.com">webkarapp@gmail.com</a>
          </li>
          <li>
            <span>تلفن:</span>
            <a href="tel:09012705647">۰۹۰۱۲۷۰۵۶۴۷</a>
          </li>
          <li>شیراز - خیابان نشاط - مجتمع فرهنگ</li>
        </ul>
      </div>
      <div class="links">
        <h3>وبکار</h3>
        <ul class="mt-2">
          <li>
            <a href="/terms"> قوانین و مقررات </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="copy-right">
      <i class="material-icons">copyright</i>
      ساخته شده به وسیله سایت ساز
      <a href="https://www.webkaar.com">وبکار</a>
    </p>
  </footer>
</template>

<script>
import SocialNetwork from "@/components/website/views/SocialNetwork";
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
  components: {
    SocialNetwork,
  },
};
</script>

<style lang="scss" scoped>
.simple-footer {
  padding: 4rem 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: #242424;
  color: var(--text-light);
  a {
    color: var(--text-light);
  }
  .container {
    height: 100%;
    font-weight: 300;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    h3 {
      color: white;
    }
    .contact {
      a {
        color: var(--primary-color);
      }
    }
    .brand {
      h3 {
        height: 42px;
        display: flex;
        img {
          width: auto;
          height: 30px;
          object-fit: contain;
        }
      }
      .social {
        display: flex;
        a {
          border-radius: 100%;
          height: 45px;
          width: 45px;
          background-color: #4b505d;
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
  .copy-right {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    a {
      font-weight: 500;
    }
    a:hover {
      opacity: 0.7;
    }
  }
}
</style>
