<template>
  <div class="items">
    <div class="item" v-for="item in items" :key="item.id">
      <a :href="urlParser(item.link)" class="social-link" target="_blank">
        <component
          :is="socialIcon(item)"
          class="social-icon"
          :fill="`${textColor}`"
        ></component>
      </a>
    </div>
  </div>
</template>

<script>
import InstagramIcon from "@/assets/img/icon/social_network/instagram.svg?inline";
import LinkedinIcon from "@/assets/img/icon/social_network/linkedin.svg?inline";
import WhatsappIcon from "@/assets/img/icon/social_network/whatsapp.svg?inline";
import TwitterIcon from "@/assets/img/icon/social_network/twitter.svg?inline";

export default {
  components: {
    InstagramIcon,
    WhatsappIcon,
    LinkedinIcon,
    TwitterIcon
  },
  props: ["items", "textColor"],
  methods: {
    socialIcon(socialItem) {
      if (socialItem) {
        let link = socialItem.link.toLowerCase();
        if (link.includes("instagram")) {
          return InstagramIcon;
        } else if (link.includes("linkedin")) {
          return LinkedinIcon;
        } else if (link.includes("whatsapp")) {
          return WhatsappIcon;
        } else if (link.includes("twitter")) {
          return TwitterIcon;
        }
      }
    },
    urlParser(url) {
      if (url.includes("http")) {
        return url;
      }
      return `https://${url}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.items {
  display: flex;
  justify-content: center;
  margin-left: -1rem;
  .item {
    margin-left: 1rem;
    .social-link .social-icon {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
}
</style>