<template>
  <div
    class="parent component-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'TeamMembers', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <h2>{{ item.title }}</h2>
      <p class="subtitle">{{ item.subtitle }}</p>
      <div class="members-container">
        <div v-for="teamMemberItem in item.items" :key="teamMemberItem.id" class="member">
          <img :src="teamMemberItem.image" />
          <div class="text-container">
            <h4>{{ teamMemberItem.title }}</h4>
            <p class="job-title">{{ teamMemberItem.subtitle }}</p>
            <p class="mt-5">{{ teamMemberItem.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <div :class="{'dashboard-view': dashboardView}"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.container {
  h2 {
    color: #384158;
  }
  .subtitle {
    color: #76777a;
  }
}

.layout_1 {
  background-color: var(--light-background);
  text-align: center;
  .container {
    .members-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(2rem + 75px) 3.5rem;
      margin-top: calc(3rem + 75px);
    }
    .member {
      max-width: 25rem;
      margin: auto;
      background-color: white;
      border-radius: 5px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
      padding: 20px;
      .job-title {
        color: #2d9cdb;
      }
      img {
        margin-top: -95px;
        width: 10vw;
        height: 10vw;
        max-width: 190px;
        max-height: 190px;
        min-width: 150px;
        min-height: 150px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }
}

.layout_2 {
  .container {
    text-align: center;
    .members-container {
      .member {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        img {
          width: 15vw;
          height: 15vw;
          min-width: 180px;
          min-height: 180px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .layout_1 {
    .container {
      .members-container {
        grid-template-columns: 1fr;
      }
    }
  }
  .layout_2 {
    .container {
      .members-container {
        .member {
          gap: 1rem;
          img {
            width: 10vw;
            height: 10vw;
            min-width: 140px;
            min-height: 140px;
          }
        }
      }
    }
  }
}
</style>