<template>
  <div
    class="component-container textimage-container py-lg"
    ref="textImageContainer"
  >
    <div class="container">
      <div class="text-container">
        <h2 class="mb-5">{{ item.title }}</h2>
        <p>{{ item.text }}</p>
        <div class="mt-5">
          <nuxt-link to="/account/signup" class="mt-5 clickable btn-text"
            ><span>رایگان شروع کن</span>
            <i class="material-icons mr-2">arrow_back</i></nuxt-link
          >
        </div>
      </div>
      <div class="image-container">
        <img :src="item.image" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["item"],
  mounted() {
    let element = this.$refs.textImageContainer;
    if (this.item.layout === 1) {
      element.classList.add("layout-1");
    } else {
      element.classList.add("layout-2");
    }
  },
};
</script>

<style lang="scss" scoped>
.btn-text {
  padding: 0;
  font-size: 15px;
  color: var(--primary-color-dark);
}
.textimage-container {
  .container {
    display: flex;
    align-items: center;
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      h2 {
        white-space: pre-wrap;
      }
      p {
        color: #242424;
        white-space: pre-wrap;
      }
    }
    .image-container {
      flex: 1;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.m-link {
  i {
    margin-right: 1rem;
  }
}
.layout-1 {
  .text-container {
    padding-left: 4rem;
  }
}
.layout-2 {
  .image-container {
    order: 1;
  }
  .text-container {
    order: 2;
    padding-right: 4rem;
  }
}

@media (max-width: 800px) {
  .textimage-container {
    .container {
      flex-direction: column;
      .text-container {
        order: 2;
        padding: 0px;
      }
      .image-container {
        order: 1;
      }
    }
  }
}
</style>