<template>
  <div
    class="component-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'TitleImage', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="text-container">
        <h2>{{ item.title }}</h2>
        <p>{{ item.subtitle }}</p>
      </div>
      <img :src="item.image" />
    </div>
    <div :class="{'dashboard-view': dashboardView}"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
  p {
    color: #76777a;
  }
}
img {
  max-width: 100%;
  max-height: 50vh;
  height: auto;
  margin: auto;
  object-fit: cover;
}

.layout_1 {
  .container {
    margin: 4.5rem 0 0 0;
    height: 100vh;
    .text-container {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
}

.layout_2 {
  .container {
    img {
      margin-top: 1.5rem;
    }
  }
}

.layout_3 {
  .container {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
    .text-container {
      margin-top: 1.5rem;
    }
    img {
      width: 100%;
    }
  }
}
</style>