<template>
  <div
    class="component-container py-lg"
    :class="item.layout"
    @click="openMenu(dashboardView, { type: 'TitleText', item: item })"
    :style="`background-color: ${item.background_color}; color: ${item.text_color}`"
  >
    <div class="container">
      <div class="holder">
        <div class="title">
          <h2>{{ item.title }}</h2>
          <p class="subtitle">{{ item.subtitle }}</p>
        </div>
        <p class="text">{{ item.text }}</p>
        <a
          class="btn btn-primary btn-shadow btn-normal mt-2"
          v-show="item.button_1.is_visible"
          :href="item.button_1.url"
          >{{ item.button_1.text }}</a
        >
      </div>
    </div>
    <div :class="{ 'dashboard-view': dashboardView }"></div>
  </div>
</template>

<script>
import componentMenuMixin from "@/mixins/componentMenu";

export default {
  mixins: [componentMenuMixin],
};
</script>

<style lang="scss" scoped>
.holder {
  max-width: 600px;
  margin: auto;
}
.subtitle {
  color: var(--text-light);
}
.layout_1 {
  .container {
    text-align: center;
  }
}
.layout_1,
.layout_2 {
  .container {
    .text {
      margin-top: 1.5rem;
    }
  }
}
.layout_3 {
  .holder {
    max-width: initial;
    display: flex;
    justify-content: center;
    margin: initial;
    gap: 8rem;
    .text {
      max-width: 600px;
    }
  }
}

@media (max-width: 768px) {
  .layout_3 {
    .container {
      flex-direction: column;
    }
  }
}
</style>