<template>
  <div id="website-view">
    <div
      v-for="(componentObject, index) in includedComponents.page.components"
      :key="index"
      :id="componentObject.id"
    >
      <component
        :is="componentObject.type"
        v-bind="{ item: componentObject.item, dashboardView: dashboardView}"
        v-on="$listeners"
      ></component>
    </div>
  </div>
</template>

<script>
export default {
  name: "websiteComponent",
  components: {},
  props: {
    includedComponents: {
      type: Object,
    },
    dashboardView: {
      type: Boolean,
      default: true,
    },
  },
  watch: {
    components: function (newVal, oldVal) {
      this.importComponents(newVal);
    },
  },
  created() {
    this.importComponents(this.includedComponents.page.components);
  },
  methods: {
    importComponents(items) {
      for (let c = 0; c < items.length; c++) {
        let componentObject = items[c];

        if (!(componentObject.type in this.$options.components)) {
          this.$options.components[componentObject.type] = () =>
            import("./" + componentObject.type + ".vue");
        }
      }
    },
    scrollToElement(id) {
      let el = document.getElementById(id);

      if (el) {
        el.scrollIntoView({ behavior: "smooth" });
      }
    },
  },
  computed: {
    components() {
      return this.includedComponents.page.components;
    },
  },
};
</script>

<style lang="scss" scoped>
#website-view {
  background-color: white;
  color: #384158;
}
</style>