<template>
  <div>
    <WebsiteComponent :includedComponents="website" :dashboardView="false" />
  </div>
</template>

<script>
import WebsiteComponent from "@/components/website/views/Website";

export default {
  components: {
    WebsiteComponent,
  },
  asyncData({ params, $axios, req, error, store }) {
    var slug = store.state.site.slug;
    if (!slug) {
      store.commit("site/ADD_SLUG", req);
      slug = store.state.site.slug;
    }

    var backend_url = `/website/blog/post/show?website_slug=${encodeURIComponent(
      slug
    )}&post_slug=${encodeURIComponent(params.post_slug)}`;

    return $axios
      .get(backend_url)
      .then((res) => {
        return {
          website: res.data,
        };
      })
      .catch((e) => {
        error({ statusCode: e.response.status });
      });
  },
  head() {
    return {
      title: `${this.website.title} - ${this.website.page.title}`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: `وب سایت ${this.website.page.title}`,
        },
      ],
    };
  },
};
</script>