.card-title {
  font-size: 24px;
  font-weight: 500;
}

.card-sutitle {
  font-size: 14px;
}

.section-title {
  font-weight: 700;
}

.section-sutitle {
  font-size: 14px;
}

.header-title {
  font-size: 50px;
  font-weight: 500;
}

.header-subtitle {
  font-size: 24px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.material-icons {
  vertical-align: middle;
  direction: rtl!important;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }