@font-face {
  font-family: IRANSans;
  font-style : normal;
  font-weight: 900;
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Black.eot');
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/iranSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),
    url('~assets/sass/fonts/iranSans/woff/IRANSansWeb_Black.woff') format('woff'),
    url('~assets/sass/fonts/iranSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style : normal;
  font-weight: bold;
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Bold.eot');
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/iranSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    url('~assets/sass/fonts/iranSans/woff/IRANSansWeb_Bold.woff') format('woff'),
    url('~assets/sass/fonts/iranSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style : normal;
  font-weight: 500;
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Medium.eot');
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/iranSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    url('~assets/sass/fonts/iranSans/woff/IRANSansWeb_Medium.woff') format('woff'),
    url('~assets/sass/fonts/iranSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style : normal;
  font-weight: 300;
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Light.eot');
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/iranSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    url('~assets/sass/fonts/iranSans/woff/IRANSansWeb_Light.woff') format('woff'),
    url('~assets/sass/fonts/iranSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style : normal;
  font-weight: 200;
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_UltraLight.eot');
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/iranSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
    url('~assets/sass/fonts/iranSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    url('~assets/sass/fonts/iranSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style : normal;
  font-weight: normal;
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb.eot');
  src        : url('~assets/sass/fonts/iranSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/iranSans/woff2/IRANSansWeb.woff2') format('woff2'),
    url('~assets/sass/fonts/iranSans/woff/IRANSansWeb.woff') format('woff'),
    url('~assets/sass/fonts/iranSans/ttf/IRANSansWeb.ttf') format('truetype');
}



@font-face {
  font-family: Vazir;
  font-style : normal;
  font-weight: 900;
  src        : url('~assets/sass/fonts/vazir/Vazir-Black.eot');
  src        : url('~assets/sass/fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('~assets/sass/fonts/vazir/Vazir-Black.woff') format('woff'),
    url('~assets/sass/fonts/vazir/Vazir-Black.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  font-style : normal;
  font-weight: 700;
  src        : url('~assets/sass/fonts/vazir/Vazir-Bold.eot');
  src        : url('~assets/sass/fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/vazir/Vazir-Black.woff2') format('woff2'),
    url('~assets/sass/fonts/vazir/Vazir-Black.woff') format('woff'),
    url('~assets/sass/fonts/vazir/Vazir-Black.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  font-style : normal;
  font-weight: 500;
  src        : url('~assets/sass/fonts/vazir/Vazir-Medium.eot');
  src        : url('~assets/sass/fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('~assets/sass/fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('~assets/sass/fonts/vazir/Vazir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  font-style : normal;
  font-weight: 300;
  src        : url('~assets/sass/fonts/vazir/Vazir-Light.eot');
  src        : url('~assets/sass/fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/vazir/Vazir-Light.woff2') format('woff2'),
    url('~assets/sass/fonts/vazir/Vazir-Light.woff') format('woff'),
    url('~assets/sass/fonts/vazir/Vazir-Light.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  font-style : normal;
  font-weight: 200;
  src        : url('~assets/sass/fonts/vazir/Vazir-Thin.eot');
  src        : url('~assets/sass/fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/vazir/Vazir-Thin.woff2') format('woff2'),
    url('~assets/sass/fonts/vazir/Vazir-Thin.woff') format('woff'),
    url('~assets/sass/fonts/vazir/Vazir-Thin.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  font-style : normal;
  font-weight: normal;
  src        : url('~assets/sass/fonts/vazir/Vazir.eot');
  src        : url('~assets/sass/fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('~assets/sass/fonts/vazir/Vazir.woff2') format('woff2'),
    url('~assets/sass/fonts/vazir/Vazir.woff') format('woff'),
    url('~assets/sass/fonts/vazir/Vazir.ttf') format('truetype');
}