// FORM
.floating-label {
    position: relative;
    height: 50px;
    overflow: hidden;
  }
  .floating-label input, .floating-label textarea {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
  }
  .floating-label label {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--lines);
  }
  .floating-label label::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .floating-label .content-name {
    position: absolute;
    bottom: 5px;
    right: 0;
    transition: all 0.3s ease;
  }
  .floating-label input:focus + .label-name .content-name,
  .floating-label input:valid + .label-name .content-name,
  .floating-label textarea:focus + .label-name .content-name,
  .floating-label textarea:valid + .label-name .content-name {
    transform: translateY(-120%);
    font-size: 14px;
    color: var(--primary-color);
  }
  .floating-label input:focus + .label-name::after,
  .floating-label textarea:focus + .label-name::after {
    transform: translateX(0%);
  }