:root {
  --primary-color     : #00a878;
  --primary-color-dark: #108775;
  --btn-color-dark    : black;
  --text-dark         : #2f495e;
  --text-light        : #8A8A8A;
  --background        : white;
  --lines             : #E9E4DE;
  --light-background  : #f9f9f9;
}

// Breakpoints
$bp-small  : 48em; // 768px
$bp-medium : 64em; // 1024px
$bp-large  : 85.375em; // 1366px
$bp-xlarge : 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small  : "(min-width: #{$bp-small})";
$mq-medium : "(min-width: #{$bp-medium})";
$mq-large  : "(min-width: #{$bp-large})";
$mq-xlarge : "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 10px;

// Line-Height
$base-line-height  : 2;
$header-line-height: 1.25;

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family     : Vazir;
  direction       : rtl;
  color           : var(--text-dark);
  background-color: var(--background);
}

h1 {
  font-weight: 700;
}

h2,
h3,
h4 {
  font-weight: 500;
}

ul {
  list-style: none;
}

input,
textarea {
  font-family: Vazir;
  font-weight: 300;
  line-height: 24px;
}

a {
  text-decoration: none;
  color          : var(--primary-color-dark)
}

a:hover {
  filter : saturate(110%);
  opacity: 0.8;
}

.text-light {
  color: var(--text-light);
}

.container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 4%;
  }

  @media #{$mq-large} {
    margin: 0 8%;
  }

  @media #{$mq-xlarge} {
    margin: 0 14%;
  }
}

.container-fluid {
  max-width: 100%;
  padding  : 0 20px;
  margin   : 0 auto;
}

hr {
  border: 1px solid var(--lines);
}

.clickable {
  cursor: pointer;
}

// button helper
button {
  font-family: Vazir;
}

.btn {
  cursor          : pointer;
  display         : inline-block;
  text-decoration : none;
  border-radius   : 30px;
  font-weight     : 500;
  padding         : 10px 32px;
  line-height     : 22px;
  background-color: var(--primary-color);
  border          : 1px solid var(--primary-color);
  color           : white;
  border          : none;
  text-align      : center;
  min-width       : 85px;
}

.btn-dark-text {
  color: var(--text-dark) !important;
}

.btn-dark {
  color           : white !important;
  background-color: var(--text-dark) !important;
  border          : 1px solid var(--text-dark);
}

.btn-lg {
  font-size: 16px;
  padding  : 12px 36px;
}

.btn-outline {
  border          : 1px solid var(--primary-color-dark);
  background-color: transparent;
  color           : var(--primary-color-dark);
  display         : inline-flex;
  align-items     : center;
  justify-content : center;

  &.dark {
    border-color: var(--text-dark);
    color       : var(--text-dark);
  }
}

.btn-text {
  background-color: rgba($color: var(--text-light), $alpha: 0.0);
  color           : var(--text-dark);
  text-decoration : none;
  border          : none;
  display         : flex;
  align-items     : center;
  padding         : 9px 20px;
}

.btn-text:hover {
  color: var(--primary-color);
}

.btn-sm {
  font-size: 13px;
  padding  : 8px 20px;
}

.btn-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-normal {
  border-radius: 5px;
}

// form helper
.form-control {
  padding: 10px 0;

  label {
    display       : block;
    padding-bottom: 0.3rem;
  }

  input,
  textarea {
    font-size: 14px;
    display  : block;
    width    : 100%;
    padding  : 0.7rem;
  }

  small {
    color: red;
  }
}

.m-input {
  width         : 100%;
  display       : flex;
  flex-direction: column;

  input,
  textarea {
    border       : none;
    border-bottom: 1px solid var(--lines);
    font-size    : 14px;
    padding      : 4px 0;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline      : none;
    border-bottom: 1px solid var(--primary-color);
  }

  .input-error {
    border-bottom: 1px solid red;
  }

  small {
    padding: 0.5rem 0;
    color  : red;
  }

  .hint {
    margin-top: 0.5rem;
    color     : var(--text-light);
    font-size : 13px;
  }
}

.form-item {
  width                : 100%;
  display              : grid;
  grid-template-columns: auto 1fr;
  gap                  : 2rem;

  input,
  textarea {
    border       : none;
    border-bottom: 1px solid var(--lines);
    font-size    : 14px;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline      : none;
    border-bottom: 1px solid var(--primary-color);
  }
}

.auth-form {
  height         : calc(100vh - 60px);
  display        : flex;
  justify-content: center;
  align-items    : center;

  .container {
    width    : 100%;
    max-width: 400px;

    h3 {
      margin-bottom: 20px;
    }

    button {
      margin: 20px 0;
      width : 100%;
    }
  }
}

// spacing helper
.py-sm {
  padding: 2rem 0;
}

.py-md {
  padding: 4rem 0;
}

.py-lg {
  padding: 6rem 0;
}

.pa-5 {
  padding: 1.5em;
}

.pa-10 {
  padding: 3em;
}

.pb-5 {
  padding-bottom: 1.5em;
}

.pl-5 {
  padding-left: 1.5em;
}

.pt-5 {
  padding-top: 1.5em;
}

.pl-1 {
  padding-left: 0.3em;
}

.pl-2 {
  padding-left: 0.6em;
}

.pt-2 {
  padding-top: 0.6em;
}

.pr-2 {
  padding-right: 0.6em;
}

.mt-2 {
  margin-top: 0.6rem;
}

.mt-5 {
  margin-top: 1.5rem !important;
}

.mt-15 {
  margin-top: 8rem;
}

.mt-20 {
  margin-top: 6rem;
}

.mt-10 {
  margin-top: 3rem !important;
}

.ml-2 {
  margin-left: 0.6rem;
}

.ml-4 {
  margin-left: 1.2em;
}

.ml-5 {
  margin-left: 1.5em;
}

.mb-2 {
  margin-bottom: 0.6rem;
}

.mb-3 {
  margin-bottom: 0.9rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-10 {
  margin-bottom: 3rem;
}

.mr-1 {
  margin-right: 0.3rem;
}

.mr-2 {
  margin-right: 0.6rem;
}

.mr-5 {
  margin-right: 1.5em;
}


// flex helper
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-self-start {
  align-self: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-grow-1 {
  flex: 1;
}

.component-container {
  position: relative;

  .dashboard-view {
    position        : absolute;
    top             : 0;
    right           : 0;
    height          : 100%;
    width           : 100%;
    background-color: var(--primary-color);
    opacity         : 0;
    transition      : .5s ease;
    z-index         : 1;
    cursor          : pointer;
  }

  &:hover .dashboard-view {
    opacity: 0.2;
  }
}

.form-control {
  display       : flex;
  flex-direction: column;
  padding-top   : 20px;
  padding-bottom: 20px;
  border-bottom : 1px solid #e9e4de;
}

.form-control:first-child {
  padding-top: 0px;
}

.card {
  background-color: white;
  border-radius   : 5px;
  box-shadow      : 0px 2px 20px rgba(0, 0, 0, 0.1);
  display         : flex;
  flex-direction  : column;

  .card-img {
    width     : 100%;
    height    : 15rem;
    object-fit: cover;
  }

  .card-content {
    padding: 1rem;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.dropdown {
  display : inline-block;
  position: relative;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  visibility: visible;
  opacity   : 1;
}

.dropdown-content {
  position        : absolute;
  visibility      : hidden;
  opacity         : 0;
  transition      : visibility 0s, opacity 0.3s ease-in-out;
  left            : -30px;
  width           : 150px;
  box-shadow      : 0px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index         : 12;
  border-radius   : 5px;

  ul {
    list-style: none;

    li {
      a {
        display        : inline-block;
        text-decoration: none;
        color          : var(--text-dark);
        padding        : 0.5rem 1rem;
        cursor         : pointer;
        width          : 100%;

        .fa-home {
          color: var(--text-dark) !important;
        }
      }

      a:hover {
        background-color: var(--lines);
      }
    }
  }
}

@media (max-width: 800px) {

  .mt-20 {
    margin-top: 3rem;
  }

  .mt-15 {
    margin-top: 5rem;
  }

  .mt-5 {
    margin-top: 1rem;
  }

  .py-sm {
    padding: 1rem 0;
  }

  .py-md {
    padding: 2rem 0;
  }

  .py-lg {
    padding: 3rem 0;
  }
}

// responsive font size and line height

body {
  font-size  : $base-font-size*1.4;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.5;
  }

  @media #{$mq-xxlarge} {
    font-size  : $base-font-size*1.6;
    line-height: $base-line-height*1.3;
  }
}

h1,
.title-xlg {
  font-size  : $base-font-size*3;
  line-height: 3rem;

  @media #{$mq-medium} {
    font-size  : $base-font-size*3.5;
    line-height: 3.5rem;
  }

  @media #{$mq-large} {
    font-size  : $base-font-size*4;
    line-height: 4rem;
  }

  @media #{$mq-xlarge} {
    font-size  : $base-font-size*5;
    line-height: 5rem;
  }

  @media #{$mq-xxlarge} {
    font-size  : $base-font-size*7.2;
    line-height: 8rem;
  }
}

h2,
.title-lg {
  font-size  : $base-font-size*3;
  line-height: 3rem;

  @media #{$mq-large} {
    font-size  : $base-font-size*3.5;
    line-height: 3.5rem;
  }

  @media #{$mq-xlarge} {
    font-size  : $base-font-size*4;
    line-height: 4rem;
  }

  @media #{$mq-xxlarge} {
    font-size  : $base-font-size*4.5;
    line-height: 4.5rem;
  }
}

h3,
.title-md {
  font-size  : $base-font-size*2;
  line-height: 2rem;

  @media #{$mq-large} {
    font-size  : $base-font-size*2.5;
    line-height: 2.5rem;
  }

  @media #{$mq-xlarge} {
    font-size  : $base-font-size*3;
    line-height: 3rem;
  }

  @media #{$mq-xxlarge} {
    font-size  : $base-font-size*3.5;
    line-height: 3.5rem;
  }
}

h4,
.title-sm {
  font-size  : $base-font-size*1.8;
  line-height: $base-line-height;

  @media #{$mq-large} {
    font-size: $base-font-size*2.0;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*2.2;
  }

  @media #{$mq-xxlarge} {
    font-size  : $base-font-size*2.6;
    line-height: $base-line-height*1.3;
  }
}

h5,
.title-xsm {
  font-size  : $base-font-size*1.6;
  line-height: $base-line-height;

  @media #{$mq-large} {
    font-size: $base-font-size*1.6;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.8;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*2;
  }
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}