<template>
  <div class="error">
    <div v-if="error.statusCode === 404" class="error-container">
      <h1>ای بابا، صفحه مورد نظر پیدا نشد</h1>
      <p>
        متاسفانه صفحه‌ای که دنبالش هستی رو نمی‌تونیم<br> پیدا کنیم. برای ادامه به
        <nuxt-link to="/">خانه برگرد</nuxt-link>
      </p>
    </div>
    <div v-else class="error-container">
      <p>
        متاسفانه در هنگام انجام درخواست شما خطایی رخ داد، لطفا چند لحظه صبر کنید و دوباره درخواست خود را انجام دهید.<br>در صورتی که این مشکل پایدار بود لطفا با پشتیبانی تماس بگیرید.
        <nuxt-link to="/">بازگشت به خانه</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  layout: "withoutNavbar",
  props: ["error"],
};
</script>

<style lang="scss" scoped>
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 4rem);
  margin: 2rem 0;
  .error-container {
    h1 {
      margin-top: 3rem;
    }
    p {
      color: var(--text-light);
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
</style>