<template>
  <div>
    <WebsiteComponent :includedComponents="website" :dashboardView="false" />
  </div>
</template>

<script>
import WebsiteComponent from "@/components/website/views/Website";
import pageInfo from "@/mixins/pageInfo";

export default {
  components: {
    WebsiteComponent,
  },
  mixins: [pageInfo],
  head() {
    return {
      title: `${this.website.title} - ${this.website.page.title}`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: `وب سایت ${this.website.title}`,
        },
      ],
    };
  },
};
</script>